
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>匯出報表</title>

    @*//請按照順訊*@
    <link href="~/Content/MXIC/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/MXIC/MXIC.css" rel="stylesheet" />

    @*自己寫的js放這裡*@
    <script src="~/Scripts/MXICJS/jquery-3.5.1.js"></script>
    <script src="~/Scripts/MXICJS/MXICExportPO.js"></script>

    @*自己寫的js放這裡*@
    <script src="~/Scripts/MXICJS/jquery.jqgrid.min.js"></script>
</head>

<body><input type="hidden" id="UserID" value="@ViewBag.ID">
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
        TempData["message"] = null;
    }
    <div class="head cover">
        <div class="banner"></div>
        <div class="navber">
            <ul></ul>
        </div>
        <div class="userLogin">
            <div class="ulBtn">
                <i class="fa fa-home" aria-hidden="true"></i><a class="admin" href="\Home\">Home</a>
            </div>
            <div class="ulBtn">
                <i class="fa fa-cogs" aria-hidden="true"></i><a class="admin" href="#" onclick="Setting()">Setting</a>
            </div>
            <div class="ulBtn">
                <i class="fa fa-user-circle" aria-hidden="true"></i><a class="admin" href="\Login\LogOut">LogOut</a>
            </div>
        </div>
    </div>
    <div class="body">
        <h1 class="title cover"></h1>
        <div class="seachBox cover">
            @using (Html.BeginForm("DownloadQuotation", "ExportPO", FormMethod.Post, new { name = "form1" }))
            {
                    <label>匯出Open PO驗收明細表</label>
                    <div class="inputBox" style="padding: 0% ;width: 100%;">
                        選擇年月
                        <input type="month" name="Month"  required="required">
                        <input type="text" name="PONumber" placeholder="PONumber" required="required">
                    </div>
            } 
            <div class="editBox cover">
                <a href='javascript:document.form1.submit();' class="seachBTN btn-1 Manager" onclick="ExportFunc()">產出報表</a>
            </div>
        </div>
        <div class="seachBox cover">
            @using (Html.BeginForm("ExportSchedule", "ScheduleSetting", FormMethod.Post, new { name = "form2" }))
            {
                <label>匯出出勤月報表</label>
                <div class="inputBox" style="padding: 0% ;width: 100%;">
                    選擇年月
                    <input type="month" id="Date" name="Date" required="required">
                    <input type="text" id="PoNo" name="PoNo" placeholder="PONumber" required="required">
                </div>
            }
            <div class="editBox cover">
                <a href='javascript:document.form2.submit();' class="seachBTN btn-1 Manager" onclick="ExportFunc()">產出報表</a>
            </div>
        </div>
        <div class="tableContant hidden cover">
            <table id="grid" cellpadding="0" cellspacing="0" border="0"></table>
        </div>
        @Html.Partial("~/Views/Webpage/_PartialSetting.cshtml")
    </div>
    <div class="footer cover">
        <p>© 2020 -YU-CHEN System Technology</p>
    </div>
</body>
</html>
