
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刷卡警報</title>

    @*//請按照順訊*@
    <link href="~/Content/MXIC/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/MXIC/MXIC.css" rel="stylesheet" />
    @*自己寫的js放這裡*@
    <script src="~/Scripts/MXICJS/jquery-3.5.1.js"></script>
    <script src="~/Scripts/MXICJS/SwipeAlarm.js"></script>
    <script src="~/Scripts/MXICJS/MXIC.js"></script>
    @*自己寫的js放這裡*@
    <script src="~/Scripts/MXICJS/jquery.jqgrid.min.js"></script>
</head>
<body>
    <input type="hidden" id="UserID" value="@ViewBag.ID">
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
        TempData["message"] = null;
    }
    <div class="head cover">
        <div class="banner"></div>
        <div class="navber">
            <ul></ul>
        </div>
        <div class="userLogin">
            <div class="ulBtn">
                <i class="fa fa-home" aria-hidden="true"></i><a class="admin" href="\Home\">Home</a>
            </div>
            <div class="ulBtn">
                <i class="fa fa-cogs" aria-hidden="true"></i><a class="admin" href="#" onclick="Setting()">Setting</a>
            </div>
            <div class="ulBtn">
                <i class="fa fa-user-circle" aria-hidden="true"></i><a class="admin" href="\Login\LogOut">LogOut</a>
            </div>
        </div>
    </div>
    <div class="body">
        <h1 class="title cover"></h1>
        <div class="seachBox cover">
            <div class="inputBox">
            </div>
            <div class="editBox cover">
                <a href="#" class="seachBTN btn-1" onclick="seachBtn()">查詢</a>
            </div>
        </div>
        <div class="loading">
            <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="load one" cx="60" cy="60" r="40" />
                <circle class="load two" cx="60" cy="60" r="40" />
                <circle class="load three" cx="60" cy="60" r="40" />
                <g>
                    <circle class="point one" cx="45" cy="70" r="5" />
                    <circle class="point two" cx="60" cy="70" r="5" />
                    <circle class="point three" cx="75" cy="70" r="5" />
                </g>
            </svg>
        </div>
        <div class="tableContant hidden cover">
            <table id="grid" cellpadding="0" cellspacing="0" border="0"></table>
        </div>
        @Html.Partial("~/Views/Webpage/_PartialSetting.cshtml")
    </div>
    <div class="footer cover">
        <p>© 2020 -YU-CHEN System Technology</p>
    </div>
</body>

</html>